<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
<table width="200" border="1" cellspacing="10" cellpadding="10">
  <tr>
    <th scope="row"><p><a href="/view profile">view profile</a></p>
      <p>&nbsp;</p></th>
  </tr>
  <tr>
    <th scope="row"><p><a href="/view matches">view matches</a></p>
      <p>&nbsp;</p></th>
  </tr>
  <tr>
    <th scope="row"><a href="#">personality test</a></th>
  </tr>
</table>

</form>
</body>
</html>
