{% extends 'user/template.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Profile</title>
</head>

<body>
<form action="" method="get">



<table width="200" class="table table-hover" cellspacing="10" cellpadding="10" style="text-align: center">

  <tr><div><img src="{{ data['photo'] }}" height="100" width="100" style="display: block;
                          margin-left: auto;
                          margin-right: auto;"></div></tr>
  <tr>
    <th scope="row">Name</th>
    <td><label for="textfield3"></label>
    <input type="text" name="textfield" id="textfield3" value="{{ data['uname'] }}" /></td>
  </tr>
  <tr>
    <th scope="row">Age</th>
    <td><label for="textfield4"></label>
    <input type="text" name="textfield2" id="textfield4" value="{{ data['age'] }}" /></td>
  </tr>
  <tr>
    <th scope="row">Date of birth</th>
    <td><label for="textfield5"></label>
    <input type="date" name="textfield3" id="textfield5" value="{{ data['dob'] }}"/></td>
  </tr>
  <tr>
    <th scope="row">Gender</th>
    <td><p>
      <label>
        <input type="radio" name="RadioGroup1" value="Male" id="RadioGroup1_0" {% if data['gender']=='Male'%} checked {% endif %}/>
        Male
      </label>
      <br />
      <label>
        <input type="radio" name="RadioGroup1" value="Female" id="RadioGroup1_1" {% if data['gender']=='Female'%} checked {% endif %} />
        Female
      </label>
      <br />
    </p></td>
  </tr>
  <tr>
    <th scope="row">Email</th>
    <td><label for="textfield6"></label>
    <input type="text" name="textfield4" id="textfield6" value="{{ data['email'] }}"/></td>
  </tr>
  <tr>
    <th scope="row">Phone number</th>
    <td><label for="textfield7"></label>
    <input type="number" name="textfield5" id="textfield7" value="{{ data['phone_no'] }}" /></td>
  </tr>
  <tr>
    <th scope="row">Place</th>
    <td><label for="textfield8"></label>
    <input type="text" name="textfield6" id="textfield8" value="{{ data['place'] }}"/></td>
  </tr>
  <tr>
    <th scope="row">post</th>
    <td><label for="textfield9"></label>
    <input type="text" name="textfield7" id="textfield9" value="{{ data['post'] }}" /></td>
  </tr>
  <tr>
    <th scope="row">Pin</th>
    <td><label for="textfield10"></label>
    <input type="text" name="textfield8" id="textfield10"  value="{{ data['pin'] }}"/></td>
  </tr>
  <tr>
    <th scope="row">Occupation</th>
    <td><label for="textfield11"></label>
    <input type="text" name="textfield9" id="textfield11" value="{{ data['occupation'] }}" /></td>
  </tr>
  <tr>
    <th scope="row">Religion</th>
    <td><p>
      <label>
        <input type="radio" name="RadioGroup2" value="Hindu" id="RadioGroup2_0" {% if data['religion']=='Hindu'%} checked {% endif %}/>
        Hindu
      </label>
      <br />
      <label>
        <input type="radio" name="RadioGroup2" value="Muslim" id="RadioGroup2_1" {% if data['religion']=='Muslim'%} checked {% endif %}/>
        Muslim
      </label>
      <br />
      <label>
        <input type="radio" name="RadioGroup2" value="Christian" id="RadioGroup2_2" {% if data['religion']=='Christian'%} checked {% endif %}/>
        Christian
      </label>
      <br />
    </p></td>
  </tr>
  <tr>
    <th scope="row">Caste</th>
    <td><label for="textfield12"></label>      <br />    <input type="text" name="textfield10" id="textfield12" value="{{ data['caste'] }}" /><br />    </td>
  </tr>
  <tr>
    <th scope="row">Qualification</th>
    <td><label for="textfield13"></label>
    <input type="text" name="textfield11" id="textfield13"  value="{{ data['qualification'] }}"/></td>
  </tr>
  <tr>
    <th scope="row">family status</th>
    <td><label for="textfield14"></label>
    <input type="text" name="textfield12" id="textfield14" value="{{ data['family_status'] }}" /></td>
  </tr>
  <tr>
    <th scope="row">height</th>
    <td><label for="textfield15"></label>
    <input type="text" name="textfield13" id="textfield15" value="{{ data['height'] }}"/></td>
  </tr>
  <tr>
    <th scope="row">weight</th>
    <td><label for="textfield16"></label>
    <input type="text" name="textfield14" id="textfield16"  value="{{ data['weight'] }}"/></td>
  </tr>
  <tr>
    <th scope="row">complexion</th>
    <td><label for="textfield17"></label>
    <input type="text" name="textfield15" id="textfield17" value="{{ data['complexion'] }}"/></td>
  </tr>
  <tr>
    <th scope="row">body type</th>
    <td><label for="textfield18"></label>
    <input type="text" name="textfield16" id="textfield18" value="{{ data['body_type'] }}"/></td>
  </tr>
  <tr>
    <th scope="row">level of education</th>
    <td><label for="textfield19"></label>
    <input type="text" name="textfield17" id="textfield19" value="{{ data['edu_level'] }}" /></td>
  </tr>
{#  <tr>#}
{#    <th scope="row">photo</th>#}
{#    <td><label for="fileField"></label>#}
{#        <img src="{{ data['photo'] }}" height="100" width="100">#}
{#    <input type="file" name="fileField" id="fileField" /></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <th colspan="2" scope="row"><label for="fileField"></label>#}
{#    <input type="submit" name="button" id="button" value="Update" /></th>#}
{#  </tr>#}

</table>
</form>
</body>
</html>
{% endblock %}
